<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659464658532-vhcv9ce140jd4s41t86ri99ecvl6elj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659464658532-vhcv9ce140jd4s41t86ri99ecvl6elj8</string>
	<key>API_KEY</key>
	<string>AIzaSyAiPdGuc-KMEKjktTSmxfkQlct8GViu0Sw</string>
	<key>GCM_SENDER_ID</key>
	<string>659464658532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.katesauls.scavlandia</string>
	<key>PROJECT_ID</key>
	<string>daytripper-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>daytripper-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659464658532:ios:49671bf1622878a9a1c971</string>
	<key>DATABASE_URL</key>
	<string>https://daytripper-prod-default-rtdb.firebaseio.com</string>
</dict>
</plist>